<div class="row">
  <div class="card-deck">
  <div class="col" *ngFor="let artist of artists">
    <div class="card artist">

      <img *ngIf="artist.image" class="card-img-top" src="{{artist.image}}" alt="{{artist.name}}">
      <img *ngIf="!artist.image" class="card-img-top" src="/assets/images/no-photo.svg" alt="{{artist.name}}">

      <div class="card-body">
        <h5 class="card-title">{{artist.name}}</h5>
        <p class="card-text">
          <small>({{artist.followers | number}} estimatori)</small>
        </p>
        <a routerLink="/glorywall/{{artist.uri}}" routerLinkActive="active" class="btn btn-primary">Seleziona</a>
      </div>
    </div>
  </div>
  </div>
</div>
